operator:
  enabled: false
  serviceAccount:
    create: false
  rbac:
    create: false

autoBackup:
  enabled: true
  mode: local_pvc
  logBackupIntervalMinutes: 5
  storage:
    managePVC: false
    manageSourcePVC: false
    manageBackupPVC: true
    manageTargetPVC: true
    sourceData:
      pvcName: ""
      storageClassName: ""
      size: ""
      accessModes: []
    backupData:
      pvcName: ""
      storageClassName: ""
      size: 100Gi
      accessModes:
        - ReadWriteOnce
    targetData:
      storageClassName: ""
      size: 50Gi
      accessModes:
        - ReadWriteOnce
